<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Ricardo Bank</title>
    <script type="text/javascript">
        function submitForm() {
            var xhr = new XMLHttpRequest();

        }
    </script>
</head>
<body>
<h1>Welcome to Ricardo Bank.</h1>

<p>Please log in.</p>

<form action="#" th:action="'/authenticate/' + ${accountRequestId}" th:object="${credentials}" method="POST">
    <label for="user">Username</label>
    <input id="user" th:field="*{id}" name="username" type="text" />
    <label for="pass">Password</label>
    <input id="pass" th:field="*{secret}" name="password" type="password"/>
    <button type="submit">Login</button>
</form>

</body>
</html>